@font-face { font-family: Colab; src: url('../fonts/ColabThi.otf');}
@font-face { font-family: MoonFlower; src: url('../fonts/Moon Flower.ttf'); }

.navbar{
  float: left;
  width: 15%;
  height: 100%;
  position: fixed;
  border: none;
}

.nav-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:100%;
  background-color: #303330;
  height: 30%;
  line-height: 80%;
  text-align: center;
  font-family: MoonFlower;
  color: white;
  font-size: 4em;
  -webkit-transition: all .8s ease; /* For Safari 3.1 to 6.0 */
  transition: all .8s ease;
}

.nav-logo span{
  resize: vertical;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: white;
}

.nav-logo:hover,active{
  height: 35%;
}

.navlink{
  display: flex;
  flex-direction: column;
  justify-content: center;
    width: 100%;
    height: 17.5%;
    font-family: Colab;
    color: white;
    text-align: center;
    font-size: 1.3em;
    margin-top: 2%;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: width .8s; /* For Safari 3.1 to 6.0 */
    transition: width .8s;
    line-height: 17.5%;
}

.navlink span{
  resize: vertical;
}

.navlink:hover,active{
  width: 110%;
}

.navlink.nav-about{
  background-color: #b77e99;
}

.navlink.nav-graphics{
  background-color: #6fa8ae;
}

.navlink.nav-web{
  background-color: #256c5c;
}

.navlink.nav-art{
  background-color: #412e49 ;
}


h2.nav-title{
  font-family: Colab;
  font-size: 25px;
  text-transform: uppercase;
}


/* PAGE NAV */

#side-nav{
  position: fixed;
  display: flex;
  align-items: center;
 justify-content: center;
  width:10%;
  height: 100%;
  margin-left:90%;
  padding: 5% 0;
}
#side-nav-container{
   width: 100%;
   padding: 10% 0;
}
.circle-container{
  width: 100%;
}
.side-nav-circle{
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #303330;
  margin: 22% auto 22% auto;
  -webkit-transition: all .8s; /* For Safari 3.1 to 6.0 */
  transition: all .7s;
}

.side-nav-circle:hover{
  width: 15px;
  height: 15px;
}

.side-nav-circle.active{
  width: 20px;
  height: 20px;
}


.side-nav-title{
  display: inline-block;
  margin-right: 10px;
}

nav[role="select"] {
  > select {
    display:none;
  }
}

/*      MOBILE
 *****************************/

@media (max-width: 768px) {
  .navbar{
    float: none;
    width: 100%;
    height: 100px;
    display: inline-block;
    background-color: #303330;
    padding-top: 15px;
  }
  .mobile-container{
      margin: 0 auto;
      width: 40%;
  }

  .mobile-logo{
    text-align: center;
    margin-right: 25px;
    font-family: MoonFlower;
    color: white;
    font-size: 2.5em;
    line-height: .9em;
  }

    /* Dropdown Button */
  .dropbtn {
      width:25px;
      height:25px;
      border: none;
      cursor: pointer;
      outline: none;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    float: right;
    top: -41px;
      position: relative;
      display: inline-block;
      outline: none;
      border:none;
  }

  .dropbtn:active{
    outline: none;
    border:none;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
      display: none;
      position: absolute;
      right: -305px;
      top: 52px;
      background-color: #303330;
      width: 768px;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
      color: white;
      font-family: MoonFlower;
      font-size: 2em;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: center;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  .nav-logo, .navlink, #side-nav{
    display: none;
  }



}
