@font-face { font-family: MoonFlower; src: url('../fonts/Moon Flower.ttf'); }
@font-face { font-family: MoonFlowerBold; src: url('../fonts/Moon Flower Bold.ttf'); }
@font-face { font-family: Colab; src: url('../fonts/ColabThi.otf');}

/*CONTENT*/
#content{
  float: left;
  width: 75%;
  padding: 20px;
  margin-left: 15%;
  text-align: center;
}
.page-header{
  font-family: MoonFlowerBold;
  font-size: 4em;
  margin-bottom: -50px;
  text-align: center;;
  border:none;
}

.page-header.graphics{
  color: #6fa8ae;
}
.page-header.web{
  color: #256c5c;
}
.page-header.art{
  color: #412e49;
}
.page-header.about{
  color: #b77e99;
  display: block;
  width: 90%;
}

.item {
  display: block;
  margin: 0 auto;
  width: 50%;
  margin-top: 20px;
  -webkit-box-shadow: 1px -2px 5px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 1px -2px 5px 0px rgba(0,0,0,0.16);
  box-shadow: 1px -2px 5px 0px rgba(0,0,0,0.16);
}

.item-title{
  width: 100%;
  text-align: center;
  font-family: Colab;
  font-size: 1.7em;
  margin-top: 110px;
  margin-bottom: 20px;
}

.livelink{
  font-family: Colab;
  color: white;
  background: #256c5c;
  font-size: 1.3em;
  text-decoration: none;
  margin-top: 50px;
  padding: 10px;
  -webkit-transition: all .8s ease; /* For Safari 3.1 to 6.0 */
  transition: all .8s ease;
}

.livelink:hover{
  color:white;
  padding: 15px;
}

.livelink:active{
  color:white;
  text-decoration: none;
}


            /*HOME*/
/******************************/
.home-content{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.logo-container{
  width: 100%;
  clear:both;
  text-align: center;
  display: block;
}

#home-logo{
  width: 8%;
  margin: 3% 0px;
  text-align: center;
}
.left-content{
  float: left;
  width: 50%;
}

.right-content{
  float: right;
  width:50%;
}

.left-btn{
  display:block;
  float: right;
  width: 30%;
  margin-left: 70%;
}
.right-btn{
  display:block;
  float: left;
  width: 30%;
  margin-right: 70%;
}

}

/*ABOUT*/
.about-div{
  display: block;
  padding-left: 45%;
}

.icon-div{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  width: 90%;
}

.icon-div-mobile{
  display: none;
}

h3.info{
  color: #256c5c;
  display: inline-block;
  font-family: MoonFlowerBold;
  font-size: 35px;
}

.icon{
  margin-top: -15px;
}

p{
  font-family: Helvetica;
  font-size: 15px;
  line-height: 180%;
  margin-right:20%;
  text-align: left;
  padding-top: 10px;
}
.me{
  display:block;
  float: left;
  width: 30%;
  height: 30%;
  margin-top: 1%;
  margin-right: 2%;
  padding-left: 25px;
}

            /* MOBILE */
/********************************/
@media (max-width: 768px) {
  .home-content{
    padding-top: 10%;
  }

  #home-logo{
    width: 20% !important;
  }

  .left-btn{
    width: 70%;
    margin-left: 30%;
  }

  .right-btn{
    width: 70%;
    margin-right: 30%;
  }

  /********* CONTENT *********/
  #content{
    width: 100%;
    float: none;
    margin: 0px;
    padding-top: 100px;
  }

  .item{
    width: 70%;
  }

  .page-header{
    margin-bottom: -90px;
  }

  /**ABOUT ***/
  .icon-div{
    display: none;
  }

  .icon-div-mobile{
    display: block;
    width: 100%;
    margin-top: -10px;
  }

  .info{
    font-family: Colab;
  }
  .page-header.about{
    margin: 0px;
    margin-top: 20px;
  }

  .me{
    float: none;
    width: 100%;
    padding: 0px;
    margin-top: 15px;
  }


}
